* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: url('back_ground/3d-view-map.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .wrapper {
    max-width: 420px;
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  }
  
  .wrapper h1 {
    font-size: 2rem;
    text-align: center;
  }
  
  .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 1rem;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
  
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
  }
  
  .wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
  }
  
  /* cibler les écrans de 768 pixels ou moins */
  @media (max-width: 768px) {
    .wrapper {
      padding: 20px;
    }
  
    .wrapper h1 {
      font-size: 1.5rem;
    }
  
    .input-box input {
      font-size: 0.9rem;
    }
  
    .input-box i {
      font-size: 1.2rem;
    }
  
    .wrapper .btn {
      font-size: 0.9rem;
    }
  }
  
  /* cibler les écrans de 480 pixels ou moins */
  @media (max-width: 480px) {
    .wrapper {
      padding: 10px;
    }
  
    .wrapper h1 {
      font-size: 1.2rem;
    }
  
    .input-box input {
      font-size: 0.8rem;
    }
  
    .input-box i {
      font-size: 1rem;
    }
  
    .wrapper .btn {
      font-size: 0.8rem;
    }
  }
  